bin_local_settings.py
local_settings.py
*/local_settings.py
.directory
.project
.pydevproject
.settings
.idea/
nongitable_content/
tests/nongitable_tests/
*~
*/*~
*.bak
*/*.bak
*.bin
*/*.bin
*.otherenv
*/*.otherenv
*.pyc
*/*.pyc
*.sqlite
*/*.sqlite
*/*.sqldump
